force-app/main/default/flows/Deployment_Task_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Assign_Task_Name_with_Description</name>
        <label>Assign Task Name with Description</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>TaskDescription</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>{!$Record.copado__Metadata_API_Name__c} ___ Activate the Flow</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_deployment_task</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Deployment Task Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deployment Task Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_deployment_task</name>
        <label>Create deployment task</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__Type__c</field>
            <value>
                <stringValue>Manual Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>copado__User_Story__c</field>
            <value>
                <elementReference>$Record.copado__User_Story__r.Id</elementReference>
            </value>
        </inputAssignments>
        <object>copado__Deployment_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Assign_Task_Name_with_Description</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flow</stringValue>
            </value>
        </filters>
        <object>copado__User_Story_Metadata__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>TaskDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
